/*
* Valtech UI Excercise
* June 2017
*/


/* Base Setup */
*, input, button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    color: #666;
    font-size: 90%;
    line-height: 1.6;
    background-color: #ddd;
}

body {
    margin: 0;
    background-color: #fff;
}

img {
    border: 0;
}


/* Headings */

h1, h2, h3 {
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
}
@media(max-width: 1023px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
}

/* Links */
a {
    text-decoration: none;
    color: #666;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover {
    text-decoration: underline;
}

/* Logo */
.logo {
    display: inline-block;
    max-width: 8em;
    margin: 1em;
    float: left;
}


/* Header */

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 1px solid #bfbfbf;
}
.header > *:last-child {
    margin-left: auto;
    float: right;
}


/* Footer */

.footer {
    clear: both;
    padding: 1em;
    text-align: center;
    font-size: .75em;
    background-color: gainsboro;
    border-top: 1px solid #bfbfbf;
}


/* Navigation */

.nav-main {
    background-color: #fff;
}
.nav-main ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-main li {
    display: inline-block;
}
.nav-main a {
    text-decoration: none;
    display: block;
    padding: 1em 1.2em;
    color: #555;
    border-bottom: 5px solid #ddd;
}
.nav-main a:hover {
    color: #000;
    border-bottom-color: #666;
}
.nav-main a:active,
.nav-main .is-active,
.nav-main .is-active:hover {
    color: #000;
    border-bottom-color: #000;
}
.nav-main a:focus {
    outline: none;
    color: #fff;
    background-color: #000;
}


/* Header Tweaks for small screens */

@media(max-width: 28em) {
    .logo {
        max-width: 5em;
        margin: .6em;
    }
    .nav-main {
        font-size: 0.8em;
    }
    .nav-main a {
        padding: 0.5em .8em;
    }
}
@media(min-width: 461px) {
    .nav-main {
        margin-right: 1em;
    }
}


/* Content */

.content__main {
    margin-top: 2em;
    margin-bottom: 2em;
}
.content__sidebar {
    transition: all .3s ease;
}

@media(min-width: 750px) {
    .content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .content__main {
        float: left;
        width: 70%;
        padding-right: 1em;
    }
    .content__sidebar {
        float: right;
        width: 30%;
    }
}


/* Content for smaller screens */

@media(max-width: 749px) {
    .wrapper {
        left: 0;
        position: relative;
        width: 100%;
    }
    .content__sidebar {
        position: fixed;
        z-index: 20;
        width: 80%;
        right: -80%;
        top: 0;
        height: 100%;
        background-color: #fff;
    }
    .sidebar-active .wrapper {
        height: 100%;
        overflow: hidden;
        transition: left .3s ease;
        height: 100%;
        left: -80%;
    }
    .sidebar-active .content__sidebar {
        right: 0;
        box-shadow: 0 0 1em 0 rgba(0,0,0,0.3);
    }
    .sidebar-active .js-toggle-sidebar::after {
        background: rgba(0,0,0,0.3);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}


/* Content for larger screens */

@media(min-width: 750px) {
    .content__sidebar {
        overflow: hidden;
        max-height: 0;
        background-color: #efefef;
        border-left: 1px solid #bfbfbf;
    }
    .sidebar-active .content__sidebar {
        max-height: 70em;
    }
    .content__sidebar-body {
        padding: 1em;
    }
}


/* Utility - responsive images */

.u-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Utility - hide text for screen readers */

.u-visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}


/* Utility - grid */

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
}
.grid > * {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.g-gutter > * {
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1em;
}


/* Utility - grid cols, only add what I need */

.g-col-xs-6 {
    width: 50%;
}
@media (max-width: 24em) {
    .g-col-xs-6 {
        width: 100%;
    }
}
@media (min-width: 35em) {
    .g-col-sm-4 {
        width: 33.333%;
    }
}
@media (min-width: 62em) {
    .g-col-lg-4 {
        width: 33.333%;
    }
}


/* Cards */

.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #666;
    border-bottom: 5px solid #fff;
}
.card:hover {
    text-decoration: none;
    border-bottom-color: #000;
}
.card__header > * {
    margin-bottom: 0;
}
.card__body > * {
    margin-top: 0;
}
.card img {
    margin: 0 auto;
}
@media (max-width: 24em) {
    .card {
        text-align: center;
    }
}